@import url(https://fonts.googleapis.com/css?family=Walter+Turncoat);

body {
}

.row {
    display: block;
    height: auto;
    width: 400px;
}

#playMat {
  font-size: 70px;
  color: #E8E8E8;
  font-family: "Walter Turncoat", cursive;
  display: table-cell;
    vertical-align: top;
    z-index: 0;
  
  margin: 30px auto 0 auto;
  background-color: #497959;
  padding: 20px 30px;
  
  box-shadow: -1px 2px 2px 0px #555, inset 0 0 10px 0 #555;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  border: #B78240 solid 10px;
  
  background-size: cover;
  background-repeat: no-repeat;
    width: 715px;
    height: 315px;
}

#table {
    width: 400px;
}

#startMenu {
    position: absolute;
    font-size: 60px;
    left: 230px;
}

.chalk {
    background-color: transparent;
    border: none;
    font-family: "Walter Turncoat", cursive;
    color: white;
}

#start {
    font-size: 60px;
    position: absolute;
    left: 50px;
    top: 115px;
}

#resBtns {
    display: none;
}

#reset {
    position: absolute;
    top: 325px;
    left: 495px;
    font-size: 30px;
}

#hardReset {
    position: absolute;
    top: 325px;
    left: 626px;
    font-size: 30px;
}

#scores {
    display: none;
    width: 300px;
}

#playerScoreDiv {
    position: absolute;
    left: 400px;
    top: 0;
}

#compScoreDiv {
    position: absolute;
    left: 400px;
    top: 100px;
}

#ticTacToe {
    position: absolute;
    left: -18px;
    top: -76px;
    width: 500px;
}
.grid {
    display: none;
    position: absolute;
    width: 500px;
    height: 500px;
    pointer-events: none;
}



.cell {

    width: 100px;
    height: 100px;
    float: left;
    margin-bottom: 5px;
    margin-right: 5px;
    text-align: center;
    line-height: 100px;
    z-index: 9999;
    display: inline-block;
}

.chooser {
    display: none;
    position: absolute;
    top: 200px;
    left: 87px;
    width: 500px;
}

.chooserBtn {
    background-color: transparent;
    border: none;
    font-family: "Walter Turncoat", cursive;
    color: white;
    font-size: 60px;
    margin-right: 10px;
}

#chooseText {
    font-size: 30px;
    position: absolute;
    top: 40px;
    left: -68px;
}

